*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f965beaf;
}
.container{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.birt-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    
}
.birt-container img{
    width: 350px;
}
.birt-container h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin: 10px 0;
}
.form{
    text-align: center;
}
.form input{
    margin: 5px;
    padding: 10px;
    height: 40px;
    width: 160px;
}
.form input:focus{
    outline: none;
}
.form .btn-container{
    margin: 15px 0;
}
.form .btn-container button{
    padding: 8px 15px;
    cursor: pointer;
}

.you-lucky{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.you-lucky img{
    width: 150px;
    height: 140px;
}

footer{
    margin-top: 50px;
    text-align: center;
}
footer ul li{
    display: inline-block;
    margin: 5px 10px;
}
footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}